<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div>
                <button class="btn btn-default fixed-size-button" id="englandSelect" (click)="onSelectCountry('england')">England</button>
                <button class="btn btn-default fixed-size-button" id="spainSelect" (click)="onSelectCountry('spain')">Spain</button>
                <button class="btn btn-default fixed-size-button" id="germanySelect" (click)="onSelectCountry('germany')">Germany</button>
                <button class="btn btn-default fixed-size-button" id="franceSelect" (click)="onSelectCountry('france')">France</button>
                <button class="btn btn-default fixed-size-button" id="italySelect" (click)="onSelectCountry('italy')">Italy</button>
            </div>
        </div>
    </div>
</div>
